[defaults]
inventory = inventory.yaml
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = false
stdout_callback = yaml
callbacks_enabled = profile_tasks

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=10s
